# Dependencias
/node_modules

# Archivos de configuración secretos
# ¡NUNCA subas este archivo a GitHub!
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Scripts locales de despliegue (contienen parámetros sensibles)
deploy_fargate.sh


